{% extends "common/base.html" %}
{% load static %}

{% block content %}

<h1>Create Announcement</h1>
<div>



</div>

<h1>Announcements</h1>
<div>

{% if announcement_list %}
<table class='table-bordered table-striped table-condensed cf'>
  <thead>
      <th>Date</th>
      <th>Creator</th>
      <th>Title</th>
      <th>Topic</th>
      <th>Type</th>
  		<th>Message</th>
  </thead>
  {% for announcement in announcement_list %}
      <tr>
          <td> {{ announcement.dateAdded }} </td>
          <td> {{ announcement.creator }} </td>
          <td> {{ announcement.title }} </td>
          <td> {{ announcement.topic }} </td>
          <td> {{ announcement.type }} </td>
          <td> {{ announcement.message }} </td>
      </tr>
  {% endfor %}
  </table>
  {% else %}
    <p>There are no announcements.</p>
  {% endif %}

</div>


</div>

{% endblock %}
