<!-- 
Author: Jason Pulis
Styling: Mike Winkelmann

 -->

{% extends 'common/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>New Comment</h1>
    <hr>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                {{ form.text|as_crispy_field }}
            </div>
        </div>

        <a class="btn btn-dark" href="{% url 'announcement:AnnouncementsView' %}">Back</a>
        <button type="submit" class="save btn btn-danger">Send</button>
    </form>
{% endblock %}
