{# This template displays a list of all announcements. #}

{% extends "common/base.html" %}
{% load static %}

{% block content %}

{% load sorter %}

<!-- if statement to check if current user has permissions in the announcement app to add a new announcement
     currently this is checking broadly for ANY permissions; need to make it more specific to an ADD permission -->
{% if perms.announcement %}
  <a class="btn btn-primary" href="{% url 'announcement:announcement_new' %}">Create New</a>
{% endif %}

<h1>Announcements</h1>
  {% for announcements in announcements %}
  <div id="announcement">
    <h2><a href="{% url 'announcement:announcement_detail' pk=announcements.pk %}">{{ announcements.title }}</a></h2>
    {% if announcements.type == 'H' %}
      <h4><strong class=text-danger> URGENT </strong> </h4>
    {% endif %}
    <p>Date: {{ announcements.dateAdded }}</p>
    <p>Creator: {{ announcements.creator }}</p>
  </div>
  {% endfor %}

  <div class="pagination">
    <span class="step-links">
        {% if announcements.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ announcements.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ announcements.number }} of {{ announcements.paginator.num_pages }}
        </span>

        {% if announcements.has_next %}
            <a href="?page={{ announcements.next_page_number }}">next</a>
            <a href="?page={{ announcements.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>


{% endblock %}
