{# This template displays a list of all announcements. #}

{% extends "common/base.html" %}
{% load static %}

{% block content %}

{% load sorter %}


<h1>Announcements</h1>
<a class="btn btn-danger" href="{% url 'announcement:announcement_new' %}">Create New</a>

<div class="row">
    {% for announcements in announcements %}
    <div class="col-sm-12 col-lg-6">
      <div class="card">
        {% if announcements.type == 'H' %}
        <h5 class="card-header">★ {{ announcements.title }} ★</h5>
        {% else %}
        <h5 class="card-header">{{ announcements.title }}</h5>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ announcements.creator }}</h5>
          <p class="card-text">{{ announcements.dateAdded }}</p>
          <a href="{% url 'announcement:announcement_detail' pk=announcements.pk %}" class="btn btn-danger">Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="pagination">
    <span class="step-links">
        {% if announcements.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ announcements.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ announcements.number }} of {{ announcements.paginator.num_pages }}
        </span>

        {% if announcements.has_next %}
            <a href="?page={{ announcements.next_page_number }}">next</a>
            <a href="?page={{ announcements.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>


{% endblock %}
