{# This template displays a list of all announcements. #}

{% extends "common/base.html" %}
{% load static %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% load sorter %}


<h1>Announcements</h1>
<a class="btn btn-primary" href="{% url 'announcement:AnnouncementsView' %}">Back</a>
<a class="btn btn-danger" href="{% url 'announcement:announcement_new' %}">Create New</a>

<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
</form>

<div class="row">
    {% for announcements in filter.qs %}
    <div class="col-sm-12 col-lg-6">
      <div class="card" style="margin-bottom: .25rem; margin-top: .25rem">
        {% if announcements.type == 'H' %}
        <h5 class="card-header">★ {{ announcements.title }} ★</h5>
        {% else %}
        <h5 class="card-header">{{ announcements.title }}</h5>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ announcements.creator }}</h5>
          <p class="card-text">{{ announcements.dateAdded }}</p>
          <a href="{% url 'announcement:announcement_detail' pk=announcements.pk %}" class="btn btn-danger">Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
