{# This template displays a detailed view of a selected announcement. #}

{% extends 'common/base.html' %}

{% block content %}
{% if messages %}
  <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
{% endif %}
    <div class="card">
      <h2 class="card-header">{{ announcement.title }}</h2>
      <div class="card-body">
        <h5 class="class-title">
          Creator: {{ announcement.creator }} on {{ announcement.dateAdded }}
        </h5>
        <div class="class-text">
          <!-- if to convert internal topic codes to readable format -->
          {% if announcement.topic == 'A' %}
          <p> Topic: General </p>
          {% elif announcement.topic == 'B' %}
          <p> Topic: Social </p>
          {% elif announcement.topic == 'C' %}
          <p> Topic: Professional </p>
          {% elif announcement.topic == 'D' %}
          <p> Topic: Philanthropy </p>
          {% elif announcement.topic == 'E' %}
          <p> Topic: Recruitment </p>
          {% elif announcement.topic == 'F' %}
          <p> Topic: Social </p>
          {% else %}
          <p> Topic: New Member </p>
          {% endif %}

          <!-- if to convert internal type codes to readable format -->
          {% if announcement.type == 'G' %}
          <p> Type: Normal </p>
          {% else %}
          <p> Type: <strong class=text-danger> URGENT </strong> </p>
          {% endif %}

          <p>Message: {{ announcement.message|linebreaksbr }}</p>

          <a class="btn btn-dark" href="{% url 'announcement:AnnouncementsView' %}">Back</a>
          <!-- if to check if the user that created the announcement is the one viewing it and allowing them to edit the post.
               request.user is comparing a User model to announcement.creator (which is also a User model) -->
          {% if request.user == announcement.creator %}
            <a class="btn btn-danger" href="{% url 'announcement:announcement_edit' pk=announcement.pk %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'announcement:announcement_delete' pk=announcement.pk %}">Delete</a>
          {% endif %}
        </div>
      </div>


    </div>
    <hr>
    <div class="card">
      <h5 class="card-header">Comments</h5>
      <div class="card-body">
        {% for comment in announcement.comments.all %}
        <div class="card-text comment">
          <div class="date">{{ comment.created_date }}</div>
          <strong>{{ comment.author }}</strong>
          <p>{{ comment.text|linebreaks }}</p>
          <hr>
        </div>
        {% empty %}
        <p>No comments here yet :(</p>
        {% endfor %}
        <a class="btn btn-danger" href="{% url 'announcement:add_comment_to_announcement' pk=announcement.pk %}">Add comment</a>
      </div>
    </div>
    
{% endblock %}
