.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#loginDropdown {
    list-style-type: none;
}

.list-group-flush .list-group-item:first-child {
  border-top: 0;
}

.list-group-item {
  border-left: 0;
  border-right: 0;
}

.links{
  max-width: 65%;
}

/* #announcement{
  width: 65%;
  border-bottom: 1px solid black;
} */

body {
  background-color: #e6e6e6;
}

p.errorMessage {
  color: #dc3545;
}
