{% extends "common/base.html" %}
{% load static %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }} </strong></p>{% endif %}

<h1>Multi-Member Search</h1>
<h4>Choose your search criteria from the dropdown lists below:</h4>
{% if error_message %}<p><strong>{{ error_message }} </strong></p>{% endif %}

<form action="{% url 'member:multi_search' %}" method="POST">
{% csrf_token %}
<ul>
{{ form.as_ul }}
</ul>
<input type="submit" value="Search">
</form>
<hr>
{% if results %}
{% include "member/print_table.html" %}
{% endif %}
 <!--
<ul>
{% for choice in quesiton.choice_set.all %}
	<li>{{ choice.choice_text }}<li>
{% endfor %}
</ul>
-->
{% endblock %}