{# this file will print a table containing the fields and values for each profile object given. The context needs to contain `fields` which is a list of verbose field names and results which is a zipped list of profiles and serialized profiles #}


{% load static %}
{% if results %}
<h1>Number of Results: {{ results|length }}</h1>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            {% for field_name in fields %}
                <th scope="col">{{ field_name }}</th>
            {% endfor %}
            </tr>
        </thead>
        {% for profile, data in results %}
        <tbody>
            <tr>
                <td scope="row">{{ profile.user.username }}</td>
                <td scope="row">{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
                <td scope="row">{{ profile.user.email }}</td>
                {% for field, value in data.fields.items %}
                    <td scope="row">{{ value|default:"N/A" }}</td>
                {% endfor %}
            </tr>
        </tbody>
    {% endfor %}
    </table>
</div>
{% else %}
<h1>Number of Results: 0</h1>
{% endif %}