{% load static %}
<h1>Number of Results: {{ results|length }}</h1>
<table class='table-bordered table-striped table-condensed cf'>
<thead>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>
{% for field_name in fields %}
		<th>{{ field_name }}</th>
{% endfor %}
	</thead>
{% for profile, data in results %}
    <tr>
        <td>{{ profile.user.username }}</td>
        <td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
        <td>{{ profile.user.email }}</td>
        {% for field, value in data.fields.items %}
            <td> {{ value|default:"N/A" }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</table>