<!--
Author: Christopher Whetsel
Formatting: Mike Winkelmann
-->

{# THIS FILE IS NOT USED CURRENTLY #}

{# {% block title %}{{ profile.user.first_name }} {{profile.user.last_name }}: Details {% endblock %} #}
{% block content %}
{% load static %}
{% if error_message %}<p class='error'><strong>{{ error_message }} </strong></p>{% endif %}

<hr>
<h1>{{ profile.user.first_name }} {{profile.user.last_name }}'s Profile</h1>
<div class="row justify-content-center">
<div class="col-4">
    {% if profile.photo %}
    <img src="{{ profile.photo.url }}" alt="profile picture" style="height:300px;max-width:300px;"/>
    {% else %}
    <img src="{% static '/member/images/coat.png' %}" alt="no profile picture" style="height:300px;max-width:300px;"/>
    {% endif %}
</div>
<div class="col-6">
   <h3>Bio</h3>
   <p>{{ profile.bio }} </p>
   <br>
   <h3>Email</h3>
   <p>{{ user.email }}</p>
   <br>
   <h4>LinkedIn Profile</h4>
   <a href="{{ profile.linkedin_profile }}" target="_blank">{{profile.linkedin_profile|default:"No profile"}}</a>
</div>
<div class="col-2"></div>
</div>

<hr>

<table class='table-bordered table-striped table-condensed cf'>
<thead>
        <th>Username</th>
    {% for name, value in profile.get_printable_fields_and_values %}
       <th>{{ name }}</th>
    {% endfor %}
   </thead>
   <tr>
        <td>{{ profile.user.username }}</td>
    {% for name, value in profile.get_printable_fields_and_values %}
       <td>{{ value|default:"N/A" }}</td>
    {% endfor %}
   </tr>
</table>
<!--
<ul>
{% for choice in quesiton.choice_set.all %}
   <li>{{ choice.choice_text }}<li>
{% endfor %}
</ul>
-->
{% endblock %} 