<!--
Author: Christopher Whetsel
Formatting: Mike Winkelmann
-->

{# This template is for the single member search page #}

{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }} </strong></p>{% endif %}

<h1>Single Member Search</h1>
<hr>
<h4>Choose from one dropdown list:</h4>
{% if error_message %}<p><strong>{{ error_message }} </strong></p>{% endif %}

<form action="{% url 'member:single_search' %}" method="POST">
	{% csrf_token %}
	<div class="row">
		<div class="col-lg-6">
			{{ form.actives_choice|as_crispy_field }}
		</div>
		<div class="col-lg-6">
			{{ form.alumni_choice|as_crispy_field }}
		</div>
		<div class="col-lg-6">
			{{ form.newmembers_choice|as_crispy_field }}
		</div>
		<div class="col-lg-6">
			{{ form.inactives_choice|as_crispy_field }}
		</div>
	</div>
	<input class="btn btn-danger" type="submit" value="Search">
</form>
{% if profile %}
{% include "member/single_detail.html" %}
{% endif %}
<!--
<ul>
{% for choice in quesiton.choice_set.all %}
	<li>{{ choice.choice_text }}<li>
{% endfor %}
</ul>
-->
{% endblock %}