{% extends "common/base.html" %}

{# {% block title %}{{ profile.user.first_name }} {{profile.user.last_name }}: Details {% endblock %} #}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }} </strong></p>{% endif %}

<h1>{{ profile.user.first_name }} {{profile.user.last_name }}: Profile</h1>
<img src="{{ profile.photo.url }}" alt="profile picture" style="height:300px;max-width:300px;"/>
<hr>
<table class='table-bordered table-striped table-condensed cf'>
<thead>
{% for name, value in profile.get_printable_fields %}
		<th>{{ name }}</th>
{% endfor %}
	</thead>
	<tr>
{% for name, value in profile.get_printable_fields %}
		<td>{{ value|default:"N/A" }}</td>
{% endfor %}
	</tr>
</table>
 <!--
<ul>
{% for choice in quesiton.choice_set.all %}
	<li>{{ choice.choice_text }}<li>
{% endfor %}
</ul>
-->
{% endblock %}