<!--
Author: Christopher Whetsel
Formatting: Mike Winkelmann
-->

{# This template displays a detailed view of a selected event. #}

{% extends 'common/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
    <div class="card">
      <h2 class="card-header">{{ event.title }}</h2>
      <div class="card-body">
        <h5 class="class-title">
            {% if event.topic == 'A' %}
            General Event 
            {% elif event.topic == 'B' %}
            Social Event 
            {% elif event.topic == 'C' %}
            Professional Event 
            {% elif event.topic == 'D' %}
            Philanthropy Event 
            {% elif event.topic == 'E' %}
            Recruitment Event 
            {% elif event.topic == 'F' %}
            Social Event 
            {% elif event.topic == 'G' %}
            Brotherhood Development Event
            {% else %}
            New Member Event 
            {% endif %}
            from {{ event.start_time }} to {{ event.end_time }}
        </h5>
        <div class="class-text">
          <p>{{ event.description|linebreaksbr }}</p>
          
          <!-- if to check if the user that created the event is the one viewing it and allowing them to edit the post.
               request.user is comparing a User model to event.creator (which is also a User model) -->
          <p>{{ num_rsvps }} Brothers are attending </p>
          <p class="collapse" id="collapseRSVP"> 
            {% for rsvp in rsvps %}
              {% if rsvp.member.first_name and rsvp.member.last_name %}
                {{ rsvp.member.first_name }} {{ rsvp.member.last_name }}, 
              {% else %}
                {{ rsvp.member.username }}
              {% endif %}
            {% endfor %}
          </p>
          <p>Location: {{ event.address }}, {{ event.city }}, {{ event.state }} {{ event.zipcode }}</p>
          <p>Created by {{ event.creator }} on {{ event.dateAdded }}</p>
            <a class="btn btn-dark" href="{% url 'event:events_view' %}">Back</a>
            <a class="btn btn-danger" href="{% url 'event:event_rsvp' pk=event.pk %}">RSVP to Event</a>
            <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseRSVP"  {% if num_rsvps == 0 %} disabled {% endif %}>Show RSVPs</button>
          {% if request.user == event.creator %}
            <br><br>
            <a class="btn btn-danger" href="{% url 'event:event_edit' pk=event.pk %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'event:event_delete' pk=event.pk %}">Delete</a>
            <a class="btn btn-danger" data-toggle="collapse" href="#collapseNotify" role="button">Notify RSVPs</a>
          {% endif %}
          </div>
      </div>
      <div class="collapse" id="collapseNotify">
        <div class="card">
          <h2 class="card-header">Create your Message</h2>
          <div class="card-body">
            <form action="{% url 'event:event_notify' pk=event.pk %}" method="POST" class="post-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-12 col-lg-8">
                    {{ form.subject|as_crispy_field }}
                </div>
                <div class="col-sm-12 col-lg-8">
                    {{ form.message|as_crispy_field }}
                </div>
                <div class="col-sm-12 col-lg-8">
                    {{ form.type|as_crispy_field }}
                </div>
              </div>
              <button class="btn btn-danger" type="submit">Send Message</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
