{# This template displays a list of all events. #}

{% extends "common/base.html" %}
{% load static %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% load sorter %}

<h1>Events</h1>
<a class="btn btn-danger" href="{% url 'event:event_new' %}">Create New</a>
{% if is_past %}
    <a class="btn btn-danger" href="{% url 'event:events_view' %}">View Current Events</a>
{% else %}
    <a class="btn btn-dark" href="{% url 'event:past_events' %}">View Past Events</a>
{% endif %}
<div class="row">
    {% for events in events %}
    <div class="col-sm-12 col-lg-6">
      <div class="card" style="margin-bottom: .25rem; margin-top: .25rem">
        {% if events.is_public == True %}
        <h5 class="card-header">★ {{ events.title }} ★</h5>
        {% else %}
        <h5 class="card-header">{{ events.title }}</h5>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            {% if events.topic == 'A' %}
            General Event
            {% elif events.topic == 'B' %}
            Social Event
            {% elif events.topic == 'C' %}
            Professional Event
            {% elif events.topic == 'D' %}
            Philanthropy Event
            {% elif events.topic == 'E' %}
            Recruitment Event
            {% elif events.topic == 'F' %}
            Social Event
            {% elif events.topic == 'G' %}
            Brotherhood Development Event
            {% else %}
            New Member Event
            {% endif %}
          </h5>
          <p class="card-text">Starts: {{ events.start_time }}</p>
          <p class="card-text">Ends: {{ events.end_time }}</p>
          <a href="{% url 'event:event_detail' pk=events.pk %}" class="btn btn-danger">Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <ul class="pagination">
      {% if events.has_previous %}
      <li class="page-item">
          <a class="page-link" href="?page=1">&laquo; First</a>
      </li>
      <li class="page-item">
          <a class="page-link" href="?page={{ events.previous_page_number }}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link">&laquo; First</a>
      </li>
      <li class="page-item disabled">
          <a class="page-link">Previous</a>
      </li>    
      {% endif %}

      <li class="page-item">
          <a class="page-link disabled">Page {{ events.number }} of {{ events.paginator.num_pages }}</a>
      </li>

      {% if events.has_next %}
      <li class="page-item">
          <a class="page-link" href="?page={{ events.next_page_number }}">Next</a>
      </li>
      <li class="page-item">
          <a class="page-link" href="?page={{ events.paginator.num_pages }}">Last &raquo;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link">Next</a>
      </li>
      <li class="page-item disabled">
          <a class="page-link">Last &raquo;</a>
      </li>
      {% endif %}
  </ul>


{% endblock %}
